# Python gitignore

# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
dist/

# PyCharm generated configuration
.idea/

# vscode configuration files
.vscode

# virtual environment
env

# C++ gitignore

# Executables
*.out
