# Python gitignore

# Byte-compiled / optimized / DLL files
__pycache__/

# pytest cache
.pytest_cache/

# Distribution / packaging
dist/
*.egg-info
build/

# coverage file
.coverage

# PyCharm generated configuration
.idea/

# vscode configuration files
.vscode

# virtual environment
env

# C++ gitignore

# Executables
*.out
*.exe
*.o

# Shared object files
*.so
*.pyd
*.dylib
*.dll
