notifications:
  email: false

install:
  - pip3 install .
  - python setup.py build_ext --inplace
script:
  - pip3 install pytest pytest-cov
  - pytest --cov=gdist

jobs:
  include:
    - name: "Python 3.8 on Xenial Linux"
      language: python
      python: 3.8
    - name: "Python 3.7.4 on macOS"
      os: osx
      osx_image: xcode11.2
      language: shell
    - name: "Python 3.8.0 on Windows"
      os: windows
      language: shell
      before_install:
        - choco install python --version 3.8.0
        - python -m pip install --upgrade pip
        - pip install --user wheel
      env: PATH=/c/Python38:/c/Python38/Scripts:$PATH
    - name: "Python 3.7.4 on macOS"
      os: osx
      osx_image: xcode11.2
      language: shell
    - stage: lint
      language: python
      python: 3.8
      install: pip install flake8
      script:
        # stop the build if there are Python syntax errors or undefined names
        - flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings
        - flake8 . --exit-zero
