Package: tvb-gdist-dbgsym
Source: tvb-gdist
Version: 1.5.6-4
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: umar haruna abdullahi <umarbrowser20@gmail.com>
Installed-Size: 386
Depends: tvb-gdist (= 1.5.6-4)
Section: debug
Priority: optional
Description: debug symbols for tvb-gdist
Build-Ids: bd01de790683d30d725b70814fbcaf82ccb4e46b
